# Data Wrangling: Running Results

Analyze results of [https://valentinslauf.de/Ergebnisse-Fotos/](https://valentinslauf.de/Ergebnisse-Fotos/)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv(
    "results_10km.csv",
    encoding="iso8859-1",
    skiprows=2,
    sep=";",
    index_col=0
)
df

,Stnr,Paarname,TN1,TN2,Ak,Platz AK,Endzeit,Rückstand
Gesamt,,,,,,,,
1,86.0,Je t'aime,Eric,Steven,Herren,1.0,0:34:32,NaN
2,36.0,Kaffeeklatsch,Karen,Patrick,mixed,1.0,0:40:58,0:06:26
3,63.0,Stralau Runners,Jonathan,Mark,Herren,2.0,0:41:26,0:06:54
4,5.0,Spuartzgis,Ryan,Timothy,mixed,2.0,0:42:21,0:07:49
5,117.0,Doodle Runners,Anthony,Vanessa,mixed,3.0,0:42:31,0:07:59
...,...,...,...,...,...,...,...,...
115,108.0,Long Distance Lovers,Raymond,Brent,Damen,14.0,1:27:16,0:52:44
116,41.0,Loveparade,Johnny,Kenneth,mixed,86.0,1:36:03,1:01:31
117,145.0,The snookies,Melissa,Trevor,mixed,87.0,1:43:53,1:09:21
DISQ,308.0,???,MCL,NaN,Einzel,NaN,0:36:47,0:02:15
Zeitnahme & Auswertung durch Berlin-Timing - Internet: www.Berlin-Timing.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Anonymize the data

The data contains personal information as defined by the GDPR. All participants have agreed that their data is to be shared. This however does not include redistribution by third parties. Therefore, the data must be anonymized.

In [7]:
from faker import Faker

f = Faker()

In [8]:
def anonymize(s):
    if type(s) == str and s not in ["", "MCL", "NaN", "Kristian"]:
        return f.first_name()
    return s

## What is Tidy Data?

According to [Tidy Data](https://vita.had.co.nz/papers/tidy-data.pdf) by Hadley Wickham (2014), in tidy data:

1. Each variable forms a column.
2. Each observation forms a row.
3. Each type of observational unit forms a table.

(Codds 3rd normal form)

## Tidy Data Checklist

Don'ts:

* Column headers are values, not variable names.
* Multiple variables are stored in one column.
* Variables are stored in both rows and columns.
* Multiple types of observational units are stored in the same table.
* A single observational unit is stored in multiple tables.

## Useful phrases to inspect data

## What to put in the index of a DataFrame?

## Methods to fill missing values